<form [formGroup]="form">

  <div class="container d-grid gap-3" style="max-width: 700px;">

    <div class="d-grid gap-3">

      <span>Id example: ea264dc2-c323-4982-80c9-970120f75123</span>

      <div class="form-floating">

        <input formControlName="id" placeholder="Id" class="form-control" type="text" />
        <label for="id">Id</label>

      </div>

      <div class="form-floating">

        <input formControlName="title" placeholder="Title" class="form-control" type="text" />
        <label for="title">Title</label>

      </div>

      <div class="form-floating">

        <input formControlName="description" placeholder="Description" class="form-control" type="text" />
        <label for="description">Description</label>

      </div>

      <div class="form-floating">

        <input formControlName="dueDate" value="2023-08-12T19:30"
                min="2023-08-13T00:00"
                max="2099-12-31T00:00"
               placeholder="DueDate" class="form-control" type="datetime-local" />
        <label for="dueDate">DueDate</label>

      </div>

      <div class="form-floating">

        <input formControlName="completed" value="2018-08-13T19:30"
                min="2023-08-13T00:00"
                max="2099-12-31T00:00"
               placeholder="Completed" class="form-control" type="datetime-local" />
        <label for="completed">Completed</label>

      </div>

      <div class="d-flex justify-content-center center">
        <button (click)="postTask()" type="button" class="btn btn-primary">Create <i class="fa fa-sign-in" aria-hidden="true"></i></button>
      </div>



    </div>
  </div>
</form>


